<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div>
        <form action="/auth" class="login" method="POST">
            <h3>Bienvenido</h3>
            <div class="form-group">
                <label for="correo" class="fontsmall">Correo electronico</label>
                <input type="email" class="form-control" name="correo" id="correo" placeholder="usuario@correo.com.mx" minlength="10" maxlength="40" required>
            </div>
            <div class="form-group">
                <label for="pass" class="fontsmall">Contraseña</label>
                <input type="password" class="form-control" name="pass" id="pass" placeholder="***********">
            </div>
            <p class="text-center">
                <input type="submit" value="Iniciar Sesion">
            </p>
            <span class="inf"><a> ¿No tienes cuenta? </a></span>
            <span class="reg"><a href="registro">Registrarme</a></span>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if (typeof alert != "undefined")  { %>
        <script>
        Swal.fire({
          title:'<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: '<%= showConfirmButton %>',
          timer: '<%= timer %>'
        }).then(()=>{
          window.location='<%= ruta %>'
        })
        </script>
      <% } %>

</body>
</html>
